* {
  margin: 0%;
  padding: 0%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 10vw;
  aspect-ratio: 1;
  border: 1px solid black;
  box-sizing: border-box;
}